# PersonalFi code owners
# Back-end code
*.py @wdengle1 @asriniv2
*.sh @wdengle1 @asriniv2
*.service @wdengle1 @asriniv2

# Front-end code
*.htm* @hhuh1 @ckim5
*.css @hhuh1 @ckim5
*.js @hhuh1 @ckim5

# Documentation
*.md @asriniv2 @codeofdusk
*.tex @asriniv2 @codeofdusk
