{% extends "base_generic.html" %}

{%block title%}Overview{%endblock%}
{%block content%}
<!--Titel & Week Number-->
<nav class="navbar navbar-light" style="background-color: #caffc9;">
  <span class="navbar-brand mb-0 h1">PersonalFi</span> <b>Week: {{accounts.week_number}}</b>
</nav>
<!--Alerts-->
{% if tip %}
<div class="alert alert-primary" role="alert">
  {{tip|safe}}
</div>
{%endif%}
<!--Overview-->
<ul class="d-block p-2 list-group list-group-flush"> <h3>Overview</h3>
  <li class="list-group-item">Bank balance: ${{accounts.bank_balance}}</li>
  <li class="list-group-item">Investments: ${{accounts.investment_balance}}
    <a class="d-inline p-2 btn btn-outline-success" href="{%url 'invest'%}" role="button">Invest</a>
    {%if accounts.investment_balance%}
      <a class="d-inline p-2 btn btn-outline-danger" href="{%url 'divest'%}" role="button">Divest</a>
    {%endif%}
  </li>
  <li class="list-group-item">Credit card balance: ${{accounts.cc_balance}} {%if accounts.cc_balance%}(<a href="{%url 'CCPayment'%}">make payment</a>){%endif%}</li>
  <li class="list-group-item">Wage: ${{accounts.wage}} (paid fortnightly)</li>
</ul>
<!--Shop-->
{%if accounts.bank_balance > 0%}
  {%if items%}<ul class="d-block p-2 list-group"> <h3>Shop</h3>{%endif%}
    {%for item in items%}
    <li class="list-group-item list-group-item-action" data-toggle="list"><a href="{%url 'buy' item.pk%}">{{item}}</a>
      <span class="badge badge-primary badge-pill">${{item.price}}</span></li>
    {%empty%}
    No items for sale! Add items to the database via the admin site.
    {%endfor%}
  {%if items%}</ul>{%endif%}
  {%endif%}
<!--Do nothing-->
<a class="btn btn-dark" href="{%url 'index'%}" role="button">Do nothing this week</a>
{%endblock%}
